################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMPS103-Alien-Invasion
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.gitignore
